@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Amita&family=Annie+Use+Your+Telescope&family=Bad+Script&family=BenchNine:wght@300&family=Caveat&family=Cinzel&family=Cinzel+Decorative&family=Comforter&family=Coming+Soon&family=Corinthia&family=Dancing+Script&family=Fleur+De+Leah&family=Fredericka+the+Great&family=Fuzzy+Bubbles&family=Grey+Qo&family=Handlee&family=Herr+Von+Muellerhoff&family=Indie+Flower&family=Just+Another+Hand&family=Kalam:wght@300&family=Kings&family=Kristi&family=Lateef&family=Lobster+Two&family=Luxurious+Script&family=McLaren&family=Meow+Script&family=Merienda&family=Monsieur+La+Doulaise&family=Montserrat+Alternates:wght@100&family=Nanum+Pen+Script&family=Nothing+You+Could+Do&family=Patrick+Hand&family=Playfair+Display&family=Press+Start+2P&family=Redacted+Script:wght@300&family=Reenie+Beanie&family=Shadows+Into+Light&family=Shadows+Into+Light+Two&family=Shalimar&family=Shippori+Mincho&family=Stardos+Stencil&family=Yuji+Boku&display=swap');
* {
    background-color: seashell;
}

h1 {
    text-align: center;
    background-color: lightslategray;
}
.form{
    height: 20px;
}
#user-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.item{
    border: none;
    border-bottom: 2px solid black;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr auto auto 0.5fr;
    gap: 5px;
}

h2 {
    align-self: center;
    font-family: 'Corinthia', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Comforter', cursive;
    font-family: 'Coming Soon', cursive;
}

.flex-box {
    display: flex;
    margin-left: 0px;
    gap: 5px;
}

#submit {
    width: fit-content;
}

header {
    background-color: lightslategray;
    color: #F5F5F5;
    font-family: 'Corinthia', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Comforter', cursive;
    font-family: 'Coming Soon', cursive;
}


#todo-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    padding: 0;
}

ul button {
    margin-left: 5px;
}

button {
    background-color: lightslategray;
    color: #F5F5F5;
}

.parentList {
    margin-top: 1.25vh;
    max-width: 100%;
    word-wrap: break-word;
    background-color: rgb(173, 193, 212);
    margin-bottom: 1.25vh;
    border: 1px solid black;
    box-shadow: 0px 8px 8px rgb(107, 104, 104);
    padding: 5px;
}

@media only screen and (min-width: 768px) {
    #user-input {
        justify-content: center;
        align-items: center;
    }
    #item,
    #details{
        width: 550px;
    }
}

@media only screen and (min-width: 1366px) {
    .parentList {
        width: 75%;
        margin: 10px auto;
    }
}